<div class="card border-primary mt-2">
    <h5 class="card-header bg-primary bg-gradient text-light">My Upcoming Rides</h5>
    <div class="card-body">
    {% for ride in my_upcoming_rides %}
        {% with event_occurence=ride.event_occurence %}
            {% include 'groupridesapp/ride_card/delete_confirm_modal.html' with ride=ride %}
            {% include 'groupridesapp/ride_card/ride_card.html' with ride=ride event_occurence=event_occurence is_registered=True user=user %}
        {% endwith %}
    {% empty %}
        Not currently registered for any rides in the next week. (button to find/view rides)
    {% endfor %}
    </div>
</div>