{% with ride_is_canceled=event_occurence.is_canceled canceled=event_occurence.is_canceled|yesno:" canceled,," %}
<div class="card mb-3 border-dark">
    <h6 class="card-header{{ canceled }}">
        <div class="row d-flex align-items-center">
            <div class="col">
                {% if is_registered %}
                <div class="btn-group dropleft">
                    <button type="button" class="btn btn-transparent dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </button>
                    <div class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Ride Discussion</a></li>
                        <li><a class="dropdown-item" href="{% url 'ride_attendees' ride.id%}">View Attendees</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item link-danger" data-bs-toggle="modal" data-bs-target="#deleteModal-{{ ride.id }}">Cancel Registration</a></li>
                    </div>
                </div>
                {% else %}

                    {% if user_can_register %}
                        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#createModal-{{ event_occurence.id }}">
                            <i class="bi bi-plus-lg"></i>
                        </button>
                    {% else %}
                        <button type="button" class="btn btn-secondary" disabled>
                            <i class="bi bi-plus-lg"></i>
                        </button>
                    {% endif %}
                {% endif %}
                <span>
                    {{ event_occurence.ride_date|date:"M d, Y" }} - {{ event_occurence.ride_time|time:"g:i A" }} {{ event_occurence.time_until_ride }}
                </span>
                {% if ride_is_canceled %}
                <span class="badge rounded-pill bg-danger">
                    <span class="visually-hidden"></span>
                    Ride Canceled
                </span>
                {% else %}
                {% with bgclass=event_occurence.is_private|yesno:"bg-primary,bg-success" %}
                <span class="badge rounded-pill {{ bgclass }}">
                {% endwith %}
                    {{ event_occurence.is_private|yesno:"Private Ride,Open Ride"}}
                    <span class="visually-hidden">{{ event_occurence.is_private|yesno:"Private Ride,Open Ride"}}</span>
                </span>
                {% endif %}
            </div>
        </div>
    </h6>
    {% include 'groupridesapp/ride_card/ride_card_body.html' %}
    <div class="card-footer">
        {% if event_occurence.club is not None %}
            <small>{{ event_occurence.club.name}}</small>
        {% else %}
            <small>No club affiliation</small>
        {% endif %}
    </div>
</div>
{% endwith %}