{% extends "groupridesapp/header.html" %}
{% load unicorn %}
{% block content %}
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <a href="{% url 'club_member_management' _slug=slug club_id=club_id tab_type='active' %}">
        <button class="nav-link{{ tab_classes.active }}" id="member-tab-active" data-bs-toggle="tab" data-bs-target="#member-tab-active-pane" type="button" role="tab" aria-controls="member-tab-active-pane" aria-selected="true">Active</button>
      </a>
    </li>
    <li class="nav-item" role="presentation">
      <a href="{% url 'club_member_management' _slug=slug club_id=club_id tab_type='inactive' %}">
        <button class="nav-link{{ tab_classes.inactive }}" id="member-tab-expired-inactive" data-bs-toggle="tab" data-bs-target="#member-tab-expired-inactive-pane" type="button" role="tab" aria-controls="member-tab-expired-inactive-pane" aria-selected="false">Inactive/Expired</button>
      </a>
    </li>
    <li class="nav-item" role="presentation">
      <a href="{% url 'club_member_management' _slug=slug club_id=club_id tab_type='requests' %}">
        <button class="nav-link{{ tab_classes.requests }}" id="member-tab-requests" data-bs-toggle="tab" data-bs-target="#member-tab-requests-pane" type="button" role="tab" aria-controls="member-tab-requests-pane" aria-selected="false">Join Requests
          {% if pending_count > 0 %}
          <span class="badge rounded-pill bg-danger">
            {{ pending_count }}
            <span class="visually-hidden">join requests</span>
          </span>
          {% endif %}
        </button>
      </a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    {% if tab_type == "active" %}
    <div class="tab-pane fade show{{ tab_classes.active }}" id="member-tab-active-pane" role="tabpanel" aria-labelledby="member-tab-active" tabindex="0">
      <div class="row mt-4">
        <div class="col">
            <h4>{{ club_name }}</h4>
        </div>
      </div>
      {% unicorn 'member_search' members=members club_id=club_id slug=slug tab_type=tab_type %}
    </div>
    {% elif tab_type == "inactive" %}
    <div class="tab-pane fadeshow{{ tab_classes.inactive }}" id="member-tab-expired-inactive-pane" role="tabpanel" aria-labelledby="member-tab-expired-inactive" tabindex="0">
      <div class="row mt-4">
        <div class="col">
            <h4>{{ club_name }}</h4>
        </div>
      </div>
        {% unicorn 'member_search' members=members club_id=club_id slug=slug tab_type=tab_type %}
    </div>
    {% elif tab_type == "requests" %}
    <div class="tab-pane fadeshow{{ tab_classes.requests }}" id="member-tab-requests-pane" role="tabpanel" aria-labelledby="member-tab-requests" tabindex="0">
      <div class="row mt-4">
        <div class="col">
            <h4>{{ club_name }}</h4>
        </div>
      </div>
      {% unicorn 'member_request_search' reqs=reqs club_id=club_id slug=slug tab_type=tab_type %}
    </div>
    {% endif %}
  </div>
{% endblock content %}