{% load static %}
{% load groupridesapp_extras %}
{% if members.paginator.num_pages > 1 %}
    {% include 'groupridesapp/pagination.html' %}
{% endif %}
<table class="table table-sm mt-4">
    <thead>
        <tr>
            <th scope="col" class="align-middle fit"></th>
            <th scope="col" class="align-middle fit"></th>
            <th scope="col" class="align-middle">Name</th>
            <th scope="col" class="align-middle">Member Type</th>
            <th scope="col" class="align-middle">Joined</th>
            <th scope="col" class="align-middle">Exp. Date</th>
        </tr>
    </thead>
    <tbody>
    {% for member in members %}
        {% with mem=member.member form=member.form %}
        {% include 'groupridesapp/clubs/members/edit_member_modal.html' %}
        <tr>
            <td class="align-middle fit">
                <a href="#" data-bs-toggle="modal" data-bs-target="#editMemberModal-{{ mem.id }}">
                    <i class="fas fa-edit"></i>
                </a>
            </td>
            <td class="align-middle fit">
                {% active_tab_is_selected tab_type=tab_type as tab_is_active %}
                <a
                    href="#"
                    hx-post="{% url 'club_member_activation' _slug=slug club_id=club_id membership_id=mem.id tab_type=tab_type %}"
                    hx-confirm="Are you sure you want to {{ tab_is_active|yesno:'deactivate,activate' }} this user's membership?"
                    hx-target="body"
                >
                    {% if tab_is_active %}
                        <i class="fa-solid fa-circle-xmark" style="color: red;"></i>
                    {% else %}
                        <i class="fa-solid fa-circle-plus" style="color: green;"></i>
                    {% endif %}
                </a>
            </td>
            <td class="align-middle">{{mem.user.last_name}}, {{mem.user.first_name}}</td>
            <td class="align-middle">{{mem.membership_type_label}}</td>
            <td class="align-middle">{{mem.create_date}}</td>
            {% if mem.expired %}
                <td class="align-middle" style="color: red;">{{mem.membership_expires}}</td>
            {% else %}
                <td class="align-middle">{{mem.membership_expires}}</td>
            {% endif %}
        </tr>
        {% endwith %}
    {% endfor %}
    </tbody>
</table>
<script src="{% static 'groupridesapp/js/club_member_management.js' %}"></script>
{% if members.paginator.num_pages > 1 %}
    {% include 'groupridesapp/pagination.html' %}
{% endif %}