@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    --iuw-background: #ffffff !important;
    --iuw-border-color: #000000 !important;
    --iuw-color: #{$dashgray} !important;
    --iuw-placeholder-text-color: #{$dashgray} !important;
    --iuw-dropzone-background: #{$dashlight} !important;
    --iuw-image-preview-border: #{$dashborder} !important;
    --iuw-image-preview-shadow: rgba(0, 0, 0, 0.3);
    --iuw-add-image-background: #{$dashlight} !important;
    --iuw-add-image-color: #{$dashgray} !important;
}