{% extends "groupridesapp/header.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            <fieldset class="form-group">
                    {% crispy form %}
            </fieldset>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Need An Account? <a class="ml-2 text-blue-700 underline" href="{% url 'register' %}">Sign Up Now</a>
            </small><br>
            <small class="text-muted text-blue-700 underline">
                <a href="/">Forgot password?</a>
            </small>
        </div>
    </div>
{% endblock content %}