body {
  background: #fafafa;
}

@media screen and (min-width: 600px){
  .mobiledevice{
      padding-left: 10px;
      padding-right: 10px;
  }
}
@media screen and (max-width: 600px){
  .mobiledevice{
      padding-left: 1px;
      padding-right: 1px;
  }
}

.canceled {
    color: #9c9a9a !important;
}

.no-dropdown-arrow.dropdown-toggle::after {
    display: none;
}

.btn-transparent {
    background-color: transparent;
    color: black;
    border: none;
}

.dropdown-menu.show > li > a, .dropdown-menu.show > form > li > button {
    color: #ffffff;
}


.dropdown-divider {
    color: #ffffff;
}

.buttonHolder > a, .nav-item > a {
    text-decoration: none;
}

.buttonHolder:hover > a {
    color: #ffffff;
}

.table td.fit,
.table th.fit {
    white-space: nowrap;
    width: 1%;
}

.no-hover:hover {
   background-color: #6c757d;
}