{% load groupridesapp_extras %}
{% load static %}
{% with searched_reqs=searched_requests %}
<div>
    <div class="row mt-2 mb-4">
        <div class="col-md-6">
            <label for="member_name_text" class="form-label">Search Join Requests</label>
            <input unicorn:model.debounce-500="membername" id="member_name_text" class="form-control" type="text" placeholder="Enter member name" id="member-name" />
        </div>
        <div class="col-md-6">
            <label for="selected_status" class="form-label">Filter Status</label>
            <select unicorn:model="selected_status" id="selected_status" class="form-select" type="text" placeholder="Select Status" id="selected_status">
                <option value="">Select Status</option>
                {% for choice in searched_reqs.status_choices %}
                    <option value="{{ choice.value }}">{{ choice.label }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
{% with pagination_items=searched_reqs.pagination_items tab_type=searched_reqs.tab_type %}
    <table class="table table-responsive-md mt-4">
        <thead>
            <tr>
                <th scope="col" colspan="2" class="align-middle fit">Actions</th>
                <th scope="col" class="align-middle">Name</th>
                <th scope="col" class="align-middle">Request Date</th>
                <th scope="col" class="align-middle">Status</th>
                <th scope="col" class="align-middle">Response Date</th>
                <th scope="col" class="align-middle">Responder</th>
            </tr>
        </thead>
        <tbody>
        {% for member in searched_reqs.members %}
        {% with mem=member.request form=member.form %}
        {% include 'groupridesapp/clubs/members/create_membership_modal.html' %}
            <tr>
                <td class="align-middle fit">
                    {% if mem.status_label == "Pending" %}
                    <span data-bs-toggle="tooltip" data-bs-title="Approve request">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#editMemberModal-{{ mem.id }}">
                            <i class="fa-solid fa-check fa-lg" style="color: green;"></i>
                        </a>
                    </span>
                    {% endif %}
                </td>
                <td class="align-middle fit">
                    {% if mem.status_label == "Pending" %}
                    <a
                        href="#"
                        hx-post="{% url 'reject_membership_request' _slug=slug club_id=club_id membership_request_id=mem.id %}"
                        hx-confirm="Are you sure you want to deny this membership request?"
                        hx-target="body"
                        data-bs-toggle="tooltip"
                        data-bs-title="Reject request"
                    >
                        <i class="fa-solid fa-x fa" style="color: red;"></i>
                    </a>
                    {% endif %}
                </td>
                <td class="align-middle">{{mem.user.last_name}}, {{mem.user.first_name}}</td>
                <td class="align-middle">{{mem.request_date|date:"M j, Y"}}</td>
                <td class="align-middle">{{mem.status_label}}</td>
                <td class="align-middle">{{mem.response_date|date:"M j, Y"}}</td>
                {% if mem.responder %}
                    <td class="align-middle">{{mem.responder.last_name}}, {{mem.responder.first_name}}</td>
                {% else %}
                    <td></td>
                {% endif %}
            </tr>
        {% endwith %}
        {% endfor %}
        </tbody>
    </table>
    {% if searched_mems.page_count > 1 %}
        {% include 'groupridesapp/pagination.html' %}
    {% endif %}
{% endwith %}
{% endwith %}
<script src="{% static 'groupridesapp/js/club_member_management.js' %}"></script>
</div>