<ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/">Home</a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownRides" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Rides
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownRides">
            <li class="nav-item"><a class="dropdown-item" href="{% url 'available_rides' %}">Available Rides</a></li>
            <li class="nav-item"><a class="dropdown-item" href="{% url 'my_rides' %}">My Rides</a></li>
            <li class="nav-item"><a class="dropdown-item" href="{% url 'create_event' %}">Create Ride</a></li>
        </ul>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownClubs" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Clubs
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownClubs">
            <li class="nav-item"><a class="dropdown-item" href="">Find a Club</a></li>
            <li class="nav-item"><a class="dropdown-item" href="{% url 'my_clubs' %}">My Clubs</a></li>
            <li class="nav-item"><a class="dropdown-item" href="{% url 'create_club' %}">Create Club</a></li>
        </ul>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownRoutes" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Routes
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownRoutes">
            <li class="nav-item"><a class="dropdown-item" href="">My Routes</a></li>
            <li class="nav-item"><a class="dropdown-item" href="{% url 'create_route' %}">Create Route</a></li>
        </ul>
    </li>
</ul>
<ul class="navbar-nav">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownUser" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{ user.username }}
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownRoutes">
            <li class="nav-item active">
                <a class="nav-item nav-link" href="{% url 'logout' %}">
                    Log out <i class="fas fa-sign-out-alt"></i>
                </a>
            </li>
        </ul>
    </li>
</ul>