<form method="post" action="{% url 'ride_comments_click' event_occurence_id=event_occurence.id %}" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">
    {% load groupridesapp_extras %}
    {% csrf_token %}
    {% url 'ride_comments' ride.id as temp_url %}
    {% if new_message_count > 0 %}
        <li>
            <button type="submit" href="#">
                <span class="mr-2">Ride Discussion</span>
                <span class="inline-flex items-center justify-center px-2 py-1 text-xs font-bold leading-none text-red-100 bg-red-600 rounded-full">{{ new_message_count }}</span>
            </button>
        </li>
    {% else %}
        <li>
            <button type="submit" href="#">
                Ride Discussion
            </button>
        </li>
    {% endif %}
</form>