<form method="post" action="{% url 'ride_comments_click' event_occurence_id=event_occurence.id %}">
    {% load groupridesapp_extras %}
    {% csrf_token %}
    {% if new_message_count > 0 %}
        <li>
            <button class="btn-transparent dropdown-item" type="submit" href="{% url 'ride_comments' ride.id %}">
                Ride Discussion
                    <span class="badge rounded-pill bg-danger">
                        {{ new_message_count }}
                        <span class="visually-hidden">new messages</span>
                    </span>
            </button>
        </li>
    {% else %}
        <li>
            <button class="btn-transparent dropdown-item" type="submit" href="{% url 'ride_comments' ride.id %}">
                Ride Discussion
            </button>
        </li>
    {% endif %}
</form>