{% extends "groupridesapp/header.html" %}
{% block content %}
<h5 class="card-header navbar-color text-light mt-2 mb-2">Available Rides</h5>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Club Name</th>
            <th scope="col">Total</th>
            <th scope="col">A</th>
            <th scope="col">B</th>
            <th scope="col">C</th>
            <th scope="col">D</th>
            <th scope="col">Novice</th>
            <th scope="col">No Class</th>
        </tr>
    </thead>
    <tbody>
{% for club in available_rides_clubs %}
        <tr>
            <td><a href="{% url 'available_rides' club_id=club.id slug=club.slug %}">{{club.name}}</a></td>
            <td><a href="{% url 'available_rides' club_id=club.id slug=club.slug %}">{{club.total}}</a></td>
            <td><a href="{% url 'available_rides_group' club_id=club.id group_classification='A' slug=club.slug %}">{{club.A}}</a></td>
            <td><a href="{% url 'available_rides_group' club_id=club.id group_classification='B' slug=club.slug %}">{{club.B}}</a></td>
            <td><a href="{% url 'available_rides_group' club_id=club.id group_classification='C' slug=club.slug %}">{{club.C}}</a></td>
            <td><a href="{% url 'available_rides_group' club_id=club.id group_classification='D' slug=club.slug %}">{{club.D}}</a></td>
            <td><a href="{% url 'available_rides_group' club_id=club.id group_classification='N' slug=club.slug %}">{{club.N}}</a></td>
            <td><a href="{% url 'available_rides_group' club_id=club.id group_classification='NA' slug=club.slug %}">{{club.NA}}</a></td>
        </tr>
{% empty %}
      No rides available for you to join
{% endfor %}
    </tbody>
</table>
{% endblock content %}