{% extends "groupridesapp/header.html" %}
{% load static %}
{% block content %}
{% load groupridesapp_extras %}
{% load crispy_forms_tags %}
<form method="get">
    {% crispy form %}
</form>
{% if event_occurences.paginator.num_pages > 1 %}
    {% include 'groupridesapp/pagination.html' %}
{% endif %}
{% for event_occurence in event_occurences %}
    {% can_register_to_ride user=user event_occurence=event_occurence as user_can_register %}
        {% if user_can_register %}
            {% include 'groupridesapp/rides/ride_card/create_confirm_modal.html' %}
        {% endif %}
        {% include 'groupridesapp/rides/ride_card/ride_card.html' with event_occurence=event_occurence is_registered=False %}
{% empty %}
    No rides available for you to join
{% endfor %}
{% if event_occurences.paginator.num_pages > 1 %}
    {% include 'groupridesapp/pagination.html' %}
{% endif %}
<script src="{% static 'groupridesapp/js/filter_rides.js' %}"></script>
{% endblock content %}