{% extends "groupridesapp/header.html" %}
{% load static %}
{% block content %}
{% load groupridesapp_extras %}
{% load crispy_forms_tags %}
<div class="w-full">
    <form method="get">
        {% crispy form %}
    </form>
</div>
{% include 'groupridesapp/rides/modals/leave_ride.html' %}
{% include 'groupridesapp/rides/modals/cannot_join.html' %}
{% include 'groupridesapp/rides/modals/join_ride.html' %}
{% if event_occurences.paginator.num_pages > 1 %}
    {% include 'groupridesapp/pagination.html' %}
{% endif %}
<div class="grid flex-grid grid-cols-1 w-full gap-2">
{% for event_occurence in event_occurences %}
    {% can_register_to_ride user=user event_occurence=event_occurence as user_can_register %}
    {% include 'groupridesapp/rides/ride_card/ride_card.html' with event_occurence=event_occurence is_registered=False %}
{% empty %}
    No rides available for you to join
{% endfor %}
</div>
{% if event_occurences.paginator.num_pages > 1 %}
    {% include 'groupridesapp/pagination.html' %}
{% endif %}
<script src="{% static 'groupridesapp/js/filter_rides.js' %}"></script>
<script src="{% static 'groupridesapp/js/join_leave_ride.js' %}"></script>
{% endblock content %}