{% extends "groupridesapp/header.html" %}
{% block content %}
    {% for ride in my_upcoming_rides %}
        {% with event_occurence=ride.event_occurence %}
            {% include 'groupridesapp/rides/ride_card/delete_confirm_modal.html' %}
            {% include 'groupridesapp/rides/ride_card/ride_card.html' with is_registered=True user=user %}
        {% endwith %}
    {% empty %}
        Not currently registered for any rides in the next week. (button to find/view rides)
    {% endfor %}
{% endblock content %}