{% extends "groupridesapp/header.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="xl:w-1/2 md:w-3/4 w-full">
    <div class="mb-3">
        <span class="text-lg font-medium">
            Comments for {{ event.occurence_name }} on {{ event.ride_date|date:"M d, Y" }}
        </span>
    </div>
    <div>
        {% if event_comments.paginator.num_pages > 1 %}
            {% include 'groupridesapp/pagination.html' %}
        {% endif %}
        <ul class="list-group mb-2">
        {% for comment in event_comments %}
            <li class="py-2 px-4 mb-4 rounded-lg bg-white shadow">
                <div class="mb-1">
                    <span class="font-extrabold text-sm {{ comment.color }}">
                        {{ comment.comment.user.first_name }}
                        {{ comment.comment.user.last_name }}
                    </span>
                </div>
                <div>
                    <span class="text-gray-600">{{ comment.comment.message|safe }}</span>
                </div>
                <div class="mt-1">
                    <span class="font-light text-sm text-gray-600">
                        {{ comment.comment.time_since_message }}
                    </span>
                </div>
            </li>
        {% empty %}
            No comments for this ride
        {% endfor %}
        </ul>
        {% if event_comments.paginator.num_pages > 1 %}
            {% include 'groupridesapp/pagination.html' %}
        {% endif %}
        <div class="pt-4">
            <span class="text-medium">Add your comment below:</span>
            <form method="POST" action="{% url 'ride_comments' event.id %}">
                {% csrf_token %}
                <div class="mb-2">
                    {% crispy form %}
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
