<div class="card border-primary mt-2">
    <h5 class="card-header bg-primary bg-gradient text-light">My Upcoming Rides</h5>
    <div class="card-body">
    {% for ride in my_upcoming_rides %}
        <div class="card mb-3 border-dark">
            <div class="modal fade" id="deleteModal-{{ ride.id }}" tabindex="-1" aria-labelledby="deleteModal-{{ ride.id }}-label" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Cancel Reservation</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    Are you sure you want to cancel your registration for this ride?
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <form method="post" action="{% url 'delete_registration' ride.id%}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Confirm</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            {% with event_occurence=ride.event_occurence %}
                {% if ride.event_occurence.is_canceled %}
                    {% include 'groupridesapp/includes/canceled_ride.html' with ride=ride %}
                {% else %}
                    {% include 'groupridesapp/includes/active_ride.html' with ride=ride %}
                {% endif %}
                <div class="row">
                    <div class="col-lg-4 col-xs-12 mt-1 mb-1">
                        <button href="#" class="btn btn-primary w-100" type="button">Ride Discussion</button>
                    </div>
                    <div class="col-lg-4 col-xs-12 mt-1 mb-1">
                        <a href="{% url 'ride_attendees' ride.id%}">
                            <button  class="btn btn-primary w-100" type="button">View Attendees</button>
                        </a>
                    </div>
                    <div class="col-lg-4 col-xs-12 mt-1 mb-1">
                        <button type="button" class="btn btn-danger w-100" data-bs-toggle="modal" data-bs-target="#deleteModal-{{ ride.id }}">
                            Cancel Reservation
                        </button>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                {% if event_occurence.club is not None %}
                <small>{{ event_occurence.club.name}}</small>
                {% else %}
                <small>No club affiliation</small>
                {% endif %}
            </div>
            {% endwith %}
        </div>
    {% empty %}
        Not currently registered for any rides in the next week. (button to find/view rides)
    {% endfor %}
    </div>
</div>